html, body, main {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212529;
}

h1,
h2, h2 > input
h3, 
h4,
h5,
h6 {
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

.tabs {
  border-bottom: 1px solid #dee2e6;
  display: flex;
}

.tabs .tab {
  text-align: center;
  flex: 1 1 auto;
}

.tabs .tab-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
			}

.tab-link {
  display: block;
  padding: .5rem 1rem;
}

.tabs .tab-link.active {
  color: #495057;
  border-color: #dee2e6 #dee2e6 #fff;
}

.bottom-bar {
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.bottom-bar > * {
  position: relative;
  width: 44px;
  width: 10vh;
}

.bottom-bar > button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

[contenteditable]:focus-visible {
  border: 1px solid rgba(0,0,0,.125);
  outline: 2px solid #286090;
}

.notes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: .25rem;
  margin-bottom: 30vh;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.notes h2 {
  text-align: left;
}

.note, .new-note {
  position: relative;
  padding: .75rem 1.25rem;
  border: 1px solid rgba(0,0,0,.125);
}

.new-note > * {
  display: flex;
}

.new-note > *:focus-visible {
  max-width: 75%;
}
